.calculator {
  width: 300px;
  height: auto;
  background-color: none;
  margin: auto;
  -webkit-box-shadow: 6px 6px 34px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 34px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 34px 0px rgba(0, 0, 0, 0.75);
}
