body {
  margin: 0;
}

.grid-item {
  text-align: center;
  padding: 5px;
  margin: 0;
  border: 0.08px solid;
  border-color: #403f42;
  background-color: #fd9e2b;
  color: white;
  font-family: sans-serif;
  transition: 0.4s;
  font-size: 24px;
}
